*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/**************** HEADER****************/

header{
    width: 100%;
    background: white;
    position: fixed;
    z-index: 99;
    
}
#buscar{
    display: none;
}
#buscar:checked + .menu-crear{
    background: white;
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 110px;
    border-radius: 20px;
    justify-content: space-around;
}
.menu-crear {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 56px;
    z-index: 99;
    text-align: left;
    

}
.menu-crear .crear{
    text-decoration: none;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
    

}
.menu-crear >a:hover{
    background: #e9e9e9;
    margin: auto;
    width: 70%;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;

    
}


.container{
    height: 60px;
    width: 95%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.container .logo img{
    width: 25px;
    height: 25px;
}
.boton{
    text-decoration: none;
    color: #111;
    cursor: pointer;
}

.container >a:hover {

    color: white;
    height: 45px;
    padding: 15px;
    background: black;
    border-radius: 24px;
    text-align: center;
    justify-content: center;
    
}
.buscador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 740px;
    border-radius: 20px;
    height: 48px;
    background: #d9dbdc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eef2f3, #d9dbdc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eef2f3, #d9dbdc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.icon-circle{
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: transform 85ms ease-out;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 1px;
}

.icon-circle:hover{
    background-color: rgba(0, 0, 0, 0.06);
}
.buscador img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
}

.boton-busqueda {
    background: transparent;
    border: 0;
    outline: 0;
    width: 650px;
    height: 25px;
    padding-left: 10px;
    text-align: left;

}


/*nav*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    color: #767676;
}


.botones-nav .perfil{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.fa-bell{
    font-size: 24px;

}
.fa-solid{
    font-size: 24px;

}
.fa-chevron-down{
    font-size: 13px;
}


/*** ********** MAIN************/


.contenedor-columns{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
}


@media (max-width: 2110px){

    .contenedor-items{
        width: 92%;
        columns: 6;
        gap: 15px;
    }

}


@media (max-width: 1400px ){
.contenedor-items{
    width: 88%;
    columns: 4;
    gap: 15px;
}

}

@media (max-width: 800px ){
    .contenedor-items{
        width: 84%;
        columns: 3;
        gap: 15px;
        
    }
    
    }

@media (max-width: 700px ){
    .contenedor-items{
        width: 80%;
        columns: 2;
        gap: 15px;
    
    }
}

.item{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.shadow .btns{
    opacity: 0;
}

.shadow:hover .btns{
    opacity: 1;
    transition-property: opacity, left;
    transition-duration: 1s, 1s, 1s, 1s;
}

.shadow{
    position: relative;
}

.img{
    width: 100%;
    border-radius: 20px;
}


.btns{
    position: absolute;
    background: rgba(0, 0, 0, 0.281);
    top: 0;
    left: 0;
    height: 100%; /*  Altura */
    width: 100%; /*  Ancho */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;;
}

.menu-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
}

.menu-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}



@media (max-width: 2110px ){

    
.tablet{
    padding: 14px;
    background-color: rgba(255, 255, 255, 0.74);
    color: black;
    border-radius: 80px;
    margin-left: 10px;
}

.tablet:hover{
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 80px;
}



.save{
    padding: 14px;
    background-color: rgba(228, 3, 3, 0.897);
    color: white;
    border-radius: 80px;
}

.save:hover{
    background-color: rgba(173, 5, 5, 0.918);
    border-radius: 80px;
}


.feet{
    padding: 14px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 80px;
}

.upload-i{
    margin-top: 15px;
    margin-right: 10px;
}

.feet:hover{
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 80px;
}

.link{
    padding: 14px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.74);
    color: black;
    border-radius: 80px;
}

.link:hover{
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 80px;
}

}


@media (max-width: 1053px ){

    a{
        font-size: 13px;
    }
}

@media (max-width: 901px ){

    a{
        font-size: 12px;
    }
}

